Q1. Data structures are ways of organizing and storing data in a computer so that they can be used efficiently.
Think of them as containers that hold data in a specific format to make operations like searching, inserting, updating, and deleting easier.

Q2. Mutable → Can be changed/modified after creation.

Immutable → Cannot be changed after creation. A new object is created instead.
Mutable- numbers = [1, 2, 3]
numbers[0] = 100     # modifying first element
print(numbers)       # [100, 2, 3]

Immutable- colors = ("red", "blue", "green")
# colors[0] = "yellow"  # Error

Q3. Lists are mutable: You can add, remove, or change elements after a list has been created.

my_list = [1, 'hello', 3.14]
print(my_list) # Output: [1, 'hello', 3.14]
# Let's change an element
my_list[1] = 'world'
my_list.append(True)
print(my_list) # Output: [1, 'world', 3.14, True]

Tuples are immutable: You cannot change a tuple in any way after it's created. Trying to do so will result in a TypeError.

my_tuple = (1, 'hello', 3.14)
print(my_tuple) # Output: (1, 'hello', 3.14)
# Let's try to change an element
my_tuple[1] = 'world' # This will raise a TypeError!

Q4. Dictionaries store data as key-value pairs, where each unique key is mapped to a specific value. Think of it like a real-world dictionary where the "key" is the word you look up, and the "value" is its definition.

The fundamental unit of a dictionary is the pair.
Key: A unique identifier for a value. Keys must be immutable data types, such as strings, numbers, or tuples. This is because Python needs to be able to rely on the key never changing. You cannot use a list or another dictionary as a key.
Value: The data associated with a key. Values can be of any data type (strings, lists, numbers, even other dictionaries) and they do not need to be unique.

Q5. you use a set instead of a list for three theoretical reasons:

To enforce uniqueness: Sets, by definition, cannot contain duplicate elements.

For fast membership testing: Finding an item in a set is almost instantaneous, whereas a list must be searched item by item.

For mathematical operations: Sets are designed for comparing collections to find intersections, unions, or differences efficiently.

Q6. A string is a sequence of characters enclosed in single (' '), double (" "), or triple quotes (''' ''' / """ """).
Strings are used to store textual data.
Each character in a string has an index (like a list).
A string in Python is an immutable sequence of characters used to represent text, while a list is a mutable sequence that can hold elements of different data types (numbers, strings, objects, etc.). Strings cannot be modified directly—any change creates a new string—whereas lists allow adding, removing, or updating elements in place. In short, strings are best for working with text, while lists are used for storing and managing collections of items.

Q7. Tuples ensure data integrity in Python because they are immutable—once created, their elements cannot be changed, added, or removed. This immutability means the data stays fixed throughout the program, preventing accidental modifications.

Tuples are often used for:
Constant values (e.g., days of the week, configuration settings).
Keys in dictionaries (since they are hashable).
Returning multiple values from functions safely.

Q8. A hash table is a data structure that stores data in key–value pairs for very fast access.
It uses a hash function to convert a key (like "name") into a numerical index.
That index tells where the value should be stored in memory.
This makes lookups, insertions, and deletions very efficient (average case: O(1)).

In Python, the built-in dict (dictionary) is implemented internally using a hash table.
Keys → get hashed into indices.
Values → stored at those indices.
That’s why dictionary operations (get, set, in) are very fast compared to searching in a list.

Example:
# Dictionary in Python (uses a hash table internally)
student = {"name": "Priya", "age": 21, "grade": "A"}

print(student["name"])  # O(1) lookup → "Priya"
student["age"] = 22     # O(1) update

Q9. In Python, lists can contain elements of different data types because Python is a dynamically typed language. That means each element in a list can be an integer, string, float, boolean, another list, or even an object.

Q10. Memory Efficiency (String Interning)
-Python often reuses string objects (especially small strings) to save memory.
-If strings were mutable, changing one would also change all references pointing to it, causing unexpected bugs.

Data Integrity & Security
-Strings are used as keys in dictionaries and in many internal operations.
-If they were mutable, keys could change after insertion, breaking the hash table structure.

Q11. Clearer Representation of Data
-Dictionary → Data stored as key–value pairs, making it more meaningful.
-List → Just values in order, no explicit labels.

No Need to Remember Index Positions
-With lists, you must remember which index corresponds to which data.
-With dictionaries, you just use the key (self-explanatory).

Q12. Scenario: Storing Fixed, Unchangeable Data
Imagine you are building a mapping application and need to store GPS coordinates (latitude and longitude) for a location. These values should never change once assigned, because they represent a fixed point on the map.
Using a tuple ensures data integrity because the coordinates cannot be accidentally modified.

Q13. In Python, sets automatically eliminate duplicate values.
-A set is an unordered collection of unique elements.
-If you try to add duplicates, Python ignores them and keeps only one copy.
Python sets automatically handle duplicates by keeping only one instance of each value, making them ideal for storing unique items.

Q14. 1. “in” with Lists
-When you use in with a list, Python checks each element one by one until it finds a match.
-This is a linear search, so the time complexity is.

my_list = [10, 20, 30, 40]
print(20 in my_list)   # True
print(50 in my_list)   # False

-Python goes through the list from start to end to see if the element exists.

Q15. No, you cannot modify the elements of a tuple in Python.
-Tuples are immutable, which means once a tuple is created, its contents cannot be changed, added, or removed.
-This immutability ensures data integrity, reliability, and allows tuples to be used as dictionary keys (which require hashable objects).

Q16. A nested dictionary in Python is a dictionary where one or more values are themselves dictionaries. This allows you to represent complex, hierarchical data in a structured way.
Example of a Nested Dictionary
students = {
    "101": {"name": "Priya", "age": 21, "grades": {"Math": 90, "English": 85}},
    "102": {"name": "Rahul", "age": 22, "grades": {"Math": 80, "English": 88}}
}

print(students["101"]["grades"]["Math"])  # 90
Here, each student ID maps to another dictionary containing details.
Inside that dictionary, "grades" maps to yet another dictionary of subjects and marks.

Q18. 1. When Order Matters
-Lists preserve the order of elements.
-Use lists when the sequence of data is important, like a playlist, to-do list, or steps in a process.

2. Simple Collections of Items
-When you just need to store multiple items without labels, lists are simpler and more memory-efficient than dictionaries.

3. Iteration and Indexing
-Lists allow easy iteration and access by index, which is convenient for loops or slicing.

Q20. 1. List
-Data is retrieved by index position.
-Retrieval requires Python to scan to the specific index (though direct indexing is fast, searching by value is O(n)).
-Slower for searching by value in large lists because it may need to check each element.

2. Dictionary
-Data is retrieved by key instead of position.
-Uses a hash table, so key-based retrieval is very fast (average O(1)).
-Cannot access values by position directly; you must use the key.

PRACTICAL QUESTIONS

In [ ]:
# Q1.
name = "Priyansh Ahuja"
print(name)

Priyansh Ahuja

In [ ]:
#Q2.
a= "Hello World"
print(len(a))

11

In [ ]:
#Q3.
text = "Python Programming"
first_three = text[:3]
print(first_three)

Pyt

In [ ]:
#Q4.
text = "hello"
uppercase = text.upper()
print(uppercase)

HELLO

In [ ]:
#Q5.
text = "I like Apple"
new_text = text.replace("Apple", "Orange")
print(new_text)

I like Orange

In [ ]:
#Q6.
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#Q7.
number_list = [1,2,3,4]
number_list.append(10)
print(number_list)

[1, 2, 3, 4, 10]

In [ ]:
#Q8.
num_list = [1, 2, 3, 4, 5]
num_list.remove(3)
print(num_list)

[1, 2, 4, 5]

In [ ]:
#Q9.
alphabets =  ['a', 'b', 'c', 'd']
second_element= alphabets[1]
print(second_element)

b

In [ ]:
#Q10.
numbers = [10,20,30,40,50]
reversed = numbers[::-1]
print(reversed)

[50, 40, 30, 20, 10]

In [ ]:
#Q11.
numbers_tuple = (100,200,300)
print(numbers_tuple)

(100, 200, 300)

In [ ]:
#Q12.
colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]
print(second_last)

blue

In [ ]:
#Q13.
numbers = (10,20,5,15)
min_Number = min(numbers)
print(min_Number)

5

In [1]:
#Q14.
animals = ('dog', 'cat', 'rabbit')
cat_index = animals.index('cat')
print(cat_index)

1

In [2]:
#Q15.
fruits = ("Banana", "Mango", "Kiwi")
if "Kiwi" in fruits:
  print("Kiwi is in the tuple")
else:
  print("Kiwi is not in the tuple")

Kiwi is in the tuple

In [3]:
#Q16.
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

In [4]:
#Q17.
numbers = {1,2,3,4,5}
numbers.clear()
print(numbers)

set()

In [6]:
#Q18.
numbers = {1, 2, 3, 4}
numbers.discard(4)
print(numbers)

{1, 2, 3}

In [7]:
#Q19.
set1 = {1,2,3}
set2 = {4,5,6}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6}

In [8]:
#Q20.
set1 = {1,2,3}
set2 = {2,3,4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [9]:
#Q21.
person = {
    "name": "Priyansh",
    "age": 22,
    "city": "Delhi"}
print(person)

{'name': 'Priyansh', 'age': 22, 'city': 'Delhi'}

In [10]:
#Q22.
person = {"name": "John", "Age":"25"}
person["Country"] = "USA"
print(person)

{'name': 'John', 'Age': '25', 'Country': 'USA'}

In [11]:
#Q23.
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [12]:
#Q24.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [13]:
#Q25.
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [14]:
#Q26.
#Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = (10, 20, 30, 40, 50)

# Creating a dictionary
my_dict = {'name': 'Alice', 'age': 25, 'city': 'Paris'}

# Print all of them
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris'}

In [15]:
#Q27.
import random
numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print("Sorted list:", numbers)

Sorted list: [9, 48, 58, 61, 90]

In [16]:
#Q28.
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at index 3:", fruits[3])

Element at index 3: date

In [17]:
#Q29.
# Two dictionaries
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}

combined_dict = dict1 | dict2

# Print the combined dictionary
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

In [18]:
#Q30.
# List of strings
fruits = ["apple", "banana", "cherry", "apple", "banana"]

# Convert list to set
fruits_set = set(fruits)

# Print the set
print("Set of fruits:", fruits_set)

Set of fruits: {'banana', 'cherry', 'apple'}